apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
  namespace: expenses-tracker
spec:
  storageClassName: yc-network-ssd
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
